* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono';
  color: #707070;
  font-size: 18px;
}

.wrapper {
  width: 1202px;
  height: 800px;
  border: 1px solid #707070;
  -webkit-box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  overflow: hidden;
}

.content {
  width: 800px;
  background: red;
  min-height: 800px;
  float: right;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0, 0.21, 1.25);
  transition: -webkit-transform 0.6s cubic-bezier(0, 0, 0.21, 1.25);
  transition: transform 0.6s cubic-bezier(0, 0, 0.21, 1.25);
  transition: transform 0.6s cubic-bezier(0, 0, 0.21, 1.25), -webkit-transform 0.6s cubic-bezier(0, 0, 0.21, 1.25);
}

.clear {
  clear: both;
}

.slide {
  height: 800px;
  width: 800px;
  background: #efefef;
  border-bottom: 2px solid white;
}

.sidebar {
  width: 400px;
  background: white;
  height: 800px;
  float: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 32px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.sidebar header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  height: 100px;
}

.sidebar h1 {
  font-weight: 800;
  font-size: 1.17em;
  margin: 0;
}

.sidebar h2 {
  font-weight: 400;
  font-size: 1.17em;
  margin: 0;
}

.sidebar article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  height: 576px;
}

.sidebar nav {
  height: 64px;
  border: 1px solid #707070;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-grid-row-align: end;
      align-self: end;
}

.sidebar nav:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: black;
  -webkit-box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.02);
}

.sidebar nav .nav_centered {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 800;
}

.sidebar .single-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.sidebar .double-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  display: -ms-grid;
  display: grid;
}

.sidebar .double-nav .left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.sidebar .double-nav .right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.slide img {
  margin-top: -1px;
}
/*# sourceMappingURL=style.css.map */