*
    box-sizing: border-box

body
    background: #fafafa
    margin: 0
    padding: 0
    font-family: 'IBM Plex Mono'
    color: #707070
    font-size: 18px

// Layout

a
    text-decoration: none;
    color: #707070
 
.wrapper
    width: 1202px
    height: 800px
    border: 1px solid #707070
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.04)
    margin: 0 auto
    top: 50%
    transform: translateY(-50%)
    position: relative
    overflow: hidden

.content
    width: 800px
    background: red
    min-height: 800px
    float: right
    transition: transform 0.6s cubic-bezier(0, 0, 0.21, 1.25)

.clear
    clear: both

.slide
    height: 800px
    width: 800px
    background: #efefef
    border-bottom: 2px solid white

// Sidebar

.sidebar
    width: 400px
    background: white
    height: 800px
    float: left
    display: grid
    grid-template-columns: repeat(4, 1fr)
    padding: 32px
    grid-auto-rows: min-content

    header 
        grid-column: 1 / span 4
        height: 100px

    h1
        font-weight: 800
        font-size: 1.17em
        margin: 0

    h2
        font-weight: 400
        font-size: 1.17em
        margin: 0

    article
        grid-column: 1 / span 4
        height: 576px
        p
            font-size: 15px
            line-height: 1.4
            font-weight: 300
        p.indent
            padding-left: 16px

    nav 
        height: 64px
        border: 1px solid #707070
        grid-column: 1 / span 4
        display: grid
        grid-template-columns: repeat(4, 1fr)    
        box-shadow: 4px 4px 0px rgba(0,0,0,0.04)
        cursor: pointer        
        transition: all 0.2s
        align-self: end

        &:hover
            transform: translateY(-4px)
            transition: all 0.2s
            color: black
            box-shadow: 8px 8px 0px rgba(0,0,0,0.02)

        .nav_centered
            grid-column: 1 / span 4
            text-align: center
            align-self: center
            font-weight: 800

    .single-nav
        grid-column: 1 / span 4

        nav
        grid-column: 1 / span 4
        
    .double-nav
        grid-column: 1 / span 4
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 8px
        display: grid
        nav
        .left
            grid-column: 1 / span 2
        .right
            grid-column: 3 / span 2



.slide
    img
        margin-top: -1px

// KINDERWAGEN GEN 

.slide.kinderwagen
    background-color: #fff;
    .buggy-wrapper
        padding: 32px
        width: 100%
        height: 100%
    
        .img-container
            width: 520px
            height: 520px
            float: left
            img
                width: 100%
                height: 100%
        .autocomplete 
            /*the container must be positioned relative:*/
            position: relative
            display: inline-block
            width: 100%


        .auto-flex 
            display: flex
            float: left
            width: 100%
            margin: 0


        input 
            border: 1px solid transparent
            padding: 5px
            font-size: 22px
            font-family: "IBM Plex Mono"

        .list
            height: 689px
            width: 210px
            float: right

        #feat 
            list-style: none
            padding: 0
            font-size: 25px
            .delete 
                margin: 0 10px 0 0
                padding-bottom: 7px
                cursor: pointer
                font-weight: bold


        input[type=text] 
            width: 90%
            border-bottom: 3px solid rgba(0, 0, 0, 0.3)
            background-color: transparent
            outline: none


        input[type=button] 
            grid-column: 1 / span 2
            border: 1px solid #111
            height: 45px
            cursor: pointer
            text-align: center
            line-height: 32px
            box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.09)
            transition: 0.2s
            padding: 0px 20px
            color: #444


        input[type=button]:hover 
            margin-top: -2px
            transition: 0.2s
            box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.03)


        .autocomplete-items 
            position: absolute
            border: 1px solid #d4d4d4
            border-bottom: none
            border-top: none
            z-index: 99
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%
            left: 0
            right: 0


        .autocomplete-items div 
            padding: 10px
            cursor: pointer
            background-color: #fff
            border-bottom: 1px solid #d4d4d4


        .autocomplete-items div:hover 
            /*when hovering an item:*/
            background-color: #e9e9e9


        .autocomplete-active 
            /*when navigating through the items using the arrow keys:*/
            background-color: #9e9e9e !important
            color: #ffffff

// Persona

.content 
    transform: translateY(-800px)

.persona
    padding: 32px
    grid-template-columns: repeat(8, 1fr) 
    display: grid
    grid-auto-rows: min-content

    // 01

    .main_picture
        grid-column: 3 / span 4
        height: 360px
        background: white
        border: 1px solid #777777        
        transition: all 0.3s
    
    ul
        grid-column: 2 / span 6
        list-style-type: none
        margin: 0
        margin-top: 32px
        padding: 0
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-column-gap: 16px
        grid-auto-rows: min-content
        grid-row-gap: 16px

        li
            height: 64px
            grid-column: auto / span 1
            background: white
            border: 1px solid #777777
            box-shadow: 4px 4px 0px rgba(0,0,0,0.04)
            transition: all 0.2s
            cursor: pointer

            &:last-of-type
                border: 1px dashed #777777
                background: inherit
                box-shadow: 0px 0px

                &:hover
                    box-shadow: 0px 0px
                    transform: none
                    border: 1px solid #777777

            &:hover
                transform: translateY(-8px)
                box-shadow: 8px 8px 0px rgba(0,0,0,0.02)
                transition: all 0.2s

    // 02

    .image
        grid-column: 1 / span 2
        background: white
        height: 160px
        border: 1px solid #777777

    .age
        grid-column: 1 / span 2
        border: 1px solid #777777
        margin-top: 32px

        input
            width: 50%
            float: left
            border: 0
            height: 32px
            line-height: 32px
            text-align: right
            font-size: 16px

        span
            font-size: 16px
            line-height: 32px
            background: white
            display: block
            height: 32px

    .name
        grid-column: 4 / span 4
        background: inherit
        border: 0
        border-bottom: 8px solid white
        height: 64px
        font-size: 1.8em

    .gender
        grid-column: 4 / span 4
        background: white
        border: 1px solid #777777
        height: 32px
        line-height: 32px
        padding: 0 16px
        font-size: 16px
        margin-top: 32px

        item
            width: 33%
            float: left
            text-align: center

            input
                text-align: center
                width: 100%
                margin-top: 4px
                border: 0
                font-size: 16px
                font-family: 'IBM Plex Mono'
            
    .bio
        grid-column: 1 / span all
        margin-top: 32px

        textarea
            width: 100%
            padding: 32px
            font-family: 'IBM Plex Mono'
            height: 480px